In [126]:
import pandas as pd
from csv_utils import read_csv

In [127]:
df = pd.read_csv(read_csv(), dtype={"GameDay": "string", "GameID" : "int", "Player" : "string", "PlayerID" : "int", 
                                "PlayerCode": "string", "TeamID" : "int", "Team" : "string", "OpponentID": "int", 
                                "Opponent" : "string", "Location" : "string", "Division" : "string", "Conference" : "string", 
                                "Playoffs" : "string", "WinOrLoss" : "string", "Starter" : "string", "PlayerType" : "string", 
                                "PerfScore" : "string", "MIN" : "string", "PTS" : "int", "FGM" : "int", "FGA" : "int", 
                                "3FM" : "int", "3FA" : "int", "FTM" : "int", "FTA" : "int", "REB" : "int", 
                                "AST" : "int", "STL" : "int", "BLK" : "int", "OREB" : "int", "TO" : "int", 
                                "PF" : "int"})

In [128]:
df = df[df["Playoffs"].isna()]

In [129]:
ppg = df.groupby('Player')["PTS"].mean().reset_index()
players_to_remove = set(ppg[ppg["PTS"] < 20]["Player"].to_list())
x = df[~df["Player"].isin(players_to_remove)]
x

,GameDay,GameID,Player,PlayerID,PlayerCode,TeamID,Team,OpponentID,Opponent,Location,...,3FA,FTM,FTA,REB,AST,STL,BLK,OREB,TO,PF
0,2011-12-25,26955,LeBron James,1871,lebron-james,16,Miami,23,Dallas,V,...,0,15,19,10,6,2,2,3,3,3
1,2011-12-25,26955,Dwyane Wade,4001,dwyane-wade,16,Miami,23,Dallas,V,...,0,4,6,8,6,1,1,1,5,4
13,2011-12-25,26955,Dirk Nowitzki,2865,dirk-nowitzki,23,Dallas,16,Miami,H,...,0,9,10,5,3,0,0,1,2,4
29,2011-12-25,26956,Blake Griffin,1472,blake-griffin,11,L.A. Clippers,25,Golden State,V,...,0,4,8,7,1,2,0,5,3,4
35,2011-12-25,26956,Monta Ellis,1100,monta-ellis,25,Golden State,11,L.A. Clippers,H,...,5,3,6,4,8,1,0,2,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18953,2012-04-25,27928,Blake Griffin,1472,blake-griffin,11,L.A. Clippers,21,New York,V,...,1,7,14,10,6,2,0,3,1,4
18963,2012-04-25,27928,Carmelo Anthony,103,carmelo-anthony,21,New York,11,L.A. Clippers,H,...,2,3,4,6,3,1,0,0,1,1
18978,2012-04-25,27929,Kevin Durant,1036,kevin-durant,35,Oklahoma City,24,Denver,H,...,8,3,3,5,4,0,1,0,5,4
18979,2012-04-25,27929,Russell Westbrook,4122,russell-westbrook,35,Oklahoma City,24,Denver,H,...,3,9,10,6,9,3,4,1,2,2
19043,2012-04-26,27932,Dirk Nowitzki,2865,dirk-nowitzki,23,Dallas,6,Atlanta,V,...,1,7,7,3,1,0,0,0,4,2